name: Victoria Metrics add-on
version: "1.8.12"
slug: victoria_metrics
description: Victoria Metrics Time Series Database add-on for long term storage as replacement for Prometheus and InfluxDB
webui: "http://[HOST]:[PORT:8428]/"
# ingress: true
# ingress_port: 8428
# host_network: true
ports:
  8428/tcp: 8428
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
#  - i386
init: false
map:
  - share:rw
options:
  retention: "99y"
schema:
  retention: "str?"

